process A = {

# reconstruction cff
include "GutSoftConfigurations/Analysis/analysis.cff"

# define input files and event steering
include "CONDORDATASETCFF"
replace PoolSource.maxEvents  = CONDORMAXEVENTS
replace PoolSource.skipEvents = CONDORSKIPEVENTS

# change name of GutSoftHistogramFileService output filename
replace GutSoftHistogramFileService.OutputFileName = "CONDOR_histograms.root"

}
