process S = {

# generation
include "GutSoftConfigurations/Generation/single_mu_pt_10_minus.cff"
replace maxEvents.input  = 1000

# simulation
include "GutSoftConfigurations/Simulation/simulation.cff"
#include "GutSoftConfigurations/Simulation/simulation_lowlumipileup.cff"
#include "GutSoftConfigurations/DataSets/cmssw_1_4_3_pileup.cff"

replace FEVT.fileName = "simulation_new.root"

}
