process S = {

untracked PSet configurationMetadata = {
  untracked string version = "$Revision: 1.21 $"
  untracked string name = "$Source: /local/projects/CMSSW/rep/CMSSW/Configuration/ReleaseValidation/data/h_zz_4mu_allReco.cfg,v $"
  untracked string annotation = "DevelopmentSample TTBar low lumi pileup"
}

# generation
include "GutSoftConfigurations/Generation/ttbar.cff"
replace maxEvents.input  = 100

# simulation
include "GutSoftConfigurations/Simulation/simulation_lowlumipileup.cff"
replace RandomNumberGeneratorService.sourceSeed = 123
replace RandomNumberGeneratorService.moduleSeeds.VtxSmeared            = 123
replace RandomNumberGeneratorService.moduleSeeds.g4SimHits             = 123
replace RandomNumberGeneratorService.moduleSeeds.mix                   = 123
replace RandomNumberGeneratorService.moduleSeeds.hcalDigis             = 123
replace RandomNumberGeneratorService.moduleSeeds.muonCSCDigis          = 123
replace RandomNumberGeneratorService.moduleSeeds.muonDTDigis           = 123
replace RandomNumberGeneratorService.moduleSeeds.muonRPCDigis          = 123
replace RandomNumberGeneratorService.moduleSeeds.siPixelDigis          = 123
replace RandomNumberGeneratorService.moduleSeeds.siStripDigis          = 123
replace RandomNumberGeneratorService.moduleSeeds.ecalUnsuppressedDigis = 123
replace FEVT.fileName = "105_0.root"

# pileup input
include "GutSoftConfigurations/DataSets/cmssw_1_4_3_pileup.cff"

}
